body {
  text-align: center;
}
a img {
  height: 35vh;
  margin: 30px;
  transition: transform 0.4s;
}
a img:hover {
  transform: scale(1.1);
  box-shadow: 4px 8px 10px 5px grey;
}
.lightbox {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.8s ease;
  z-index: 2;
}

.lightbox img {
  height: 60%;
}
.lightbox:target {
  opacity: 1;
  pointer-events: auto;
}

.close {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.img-wrapper {
  display: inline-block;
  position: relative;
}

.img-wrapper::before {
  content: "";
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: white;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  transition: all 0.5s;
}

.img-wrapper:hover::before {
  background-color: black;
  top: -5%;
}

.album {
  position: relative;
}

.album::after {
  content: "";
  height: 4px;
  width: 90vw;
  background-image: linear-gradient(to right, yellow, green, red);
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
